In [70]:
import os 
project = '100knock-process-visualization'
chapter = 1
os.chdir(f'/Users/nakamuraayaka/{project}/chapter-{chapter}')

# １章 システムデータの加工・可視化を行う２０本ノック

In [71]:
import pandas as pd

## ノック１：法人情報データを読み込んでみよう

In [72]:
data = pd.read_csv("./data/22_shizuoka_all_20210331.csv",encoding = "shift-jis")

In [73]:
data.head()

,1,1000013040008,01,1.1,2018-04-02,2015-10-05,静岡家庭裁判所,Unnamed: 7,101,静岡県,...,Unnamed: 20,Unnamed: 21,2015-10-05.1,1.2,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",Unnamed: 27,シズオカカテイサイバンショ,0
0,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
1,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
2,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
3,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
4,6,1000020222135,1,1,2020-09-29,2015-10-05,掛川市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Kakegawa City,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,カケガワシ,0

In [74]:
len(data)

114612

## ノック２：読み込んだデータを確認しよう

In [75]:
data.columns

Index(['1', '1000013040008', '01', '1.1', '2018-04-02', '2015-10-05',
       '静岡家庭裁判所', 'Unnamed: 7', '101', '静岡県', '静岡市葵区', '城内町１−２０',
       'Unnamed: 12', '22', '101.1', '4200854', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       '2015-10-05.1', '1.2', 'Shizuoka Family Court', 'Shizuoka',
       '1-20, Jonaicho, Aoi ku, Shizuoka shi', 'Unnamed: 27', 'シズオカカテイサイバンショ',
       '0'],
      dtype='object')

In [76]:
len(data.columns)

30

In [77]:
data.dtypes

1                                         int64
1000013040008                             int64
01                                        int64
1.1                                       int64
2018-04-02                               object
2015-10-05                               object
静岡家庭裁判所                                  object
Unnamed: 7                              float64
101                                       int64
静岡県                                      object
静岡市葵区                                    object
城内町１−２０                                  object
Unnamed: 12                             float64
22                                        int64
101.1                                     int64
4200854                                 float64
Unnamed: 16                             float64
Unnamed: 17                             float64
Unnamed: 18                              object
Unnamed: 19                             float64
Unnamed: 20                             float64
Unnamed: 21                              object
2015-10-05.1                             object
1.2                                       int64
Shizuoka Family Court                    object
Shizuoka                                 object
1-20, Jonaicho, Aoi ku, Shizuoka shi     object
Unnamed: 27                             float64
シズオカカテイサイバンショ                            object
0                                         int64
dtype: object

### 意図しないデータ型が設定されてしまうことを防ぐためにobject型で読み込む

In [78]:
data = pd.read_csv("./data/22_shizuoka_all_20210331.csv",encoding = "shift-jis", dtype = object)

In [79]:
data.dtypes

1                                       object
1000013040008                           object
01                                      object
1.1                                     object
2018-04-02                              object
2015-10-05                              object
静岡家庭裁判所                                 object
Unnamed: 7                              object
101                                     object
静岡県                                     object
静岡市葵区                                   object
城内町１−２０                                 object
Unnamed: 12                             object
22                                      object
101.1                                   object
4200854                                 object
Unnamed: 16                             object
Unnamed: 17                             object
Unnamed: 18                             object
Unnamed: 19                             object
Unnamed: 20                             object
Unnamed: 21                             object
2015-10-05.1                            object
1.2                                     object
Shizuoka Family Court                   object
Shizuoka                                object
1-20, Jonaicho, Aoi ku, Shizuoka shi    object
Unnamed: 27                             object
シズオカカテイサイバンショ                           object
0                                       object
dtype: object

## ノック３：ヘッダ用のテキストファイルを読み込もう

In [80]:
mst = pd.read_csv("./data/mst_column_name.txt",encoding = "shift-jis")
mst.head()

  column_id\tcolumn_name_ja\tcolumn_name_en
0                   1\t一連番号\tsequenceNumber
1                  2\t法人番号\tcorporateNumber
2                          3\t処理区分\tprocess
3                          4\t訂正区分\tcorrect
4                      5\t更新年月日\tupdateDate

In [81]:
mst = pd.read_csv("./data/mst_column_name.txt",encoding = "shift-jis",sep ='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [82]:
len(mst)

30

In [83]:
len(mst) == len(data.columns)

True

## ノック４：ヘッダ行を追加しよう

In [84]:
columns = mst.column_name_en.values  # valuesの意味？？

In [85]:
columns

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [86]:
data.columns = columns
data.head(2)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0

## ノック５：統計量や欠損値を確認しよう

In [87]:
data.describe

<bound method NDFrame.describe of        sequenceNumber corporateNumber process correct  updateDate  changeDate  \
0                   2   1000013050072      01       1  2018-04-02  2015-10-05
1                   3   1000013050080      01       1  2018-04-02  2015-10-05
2                   4   1000020222119      01       1  2018-04-05  2015-10-05
3                   5   1000020222127      01       1  2018-04-05  2015-10-05
4                   6   1000020222135      01       1  2020-09-29  2015-10-05
...               ...             ...     ...     ...         ...         ...
114607         114609   9700150095744      01       0  2019-09-27  2019-08-22
114608         114610   9700150097253      01       0  2020-01-24  2019-12-26
114609         114611   9700150099530      01       0  2020-07-13  2020-06-23
114610         114612   9700150099852      01       0  2020-08-20  2020-07-22
114611         114613   9700150101659      01       0  2021-01-26  2021-01-14

                  name nameImageId kind prefectureName  ...  \
0              清水簡易裁判所         NaN  101            静岡県  ...
1              浜松簡易裁判所         NaN  101            静岡県  ...
2                  磐田市         NaN  201            静岡県  ...
3                  焼津市         NaN  201            静岡県  ...
4                  掛川市         NaN  201            静岡県  ...
...                ...         ...  ...            ...  ...
114607     久根共有財産管理委員会         NaN  499            静岡県  ...
114608      静岡小児感染症研究会         NaN  499            静岡県  ...
114609  北方領土返還要求静岡県民会議         NaN  499            静岡県  ...
114610        両河内児童クラブ         NaN  499            静岡県  ...
114611      静岡市茶業振興協議会         NaN  499            静岡県  ...

       successorCorporateNumber changeCause assignmentDate latest  \
0                           NaN         NaN     2015-10-05      1
1                           NaN         NaN     2015-10-05      1
2                           NaN         NaN     2015-10-05      1
3                           NaN         NaN     2015-10-05      1
4                           NaN         NaN     2015-10-05      1
...                         ...         ...            ...    ...
114607                      NaN         NaN     2019-08-22      1
114608                      NaN         NaN     2019-12-26      1
114609                      NaN         NaN     2020-06-23      1
114610                      NaN         NaN     2020-07-22      1
114611                      NaN         NaN     2021-01-14      1

                         enName enPrefectureName  \
0         Shimizu Summary Court         Shizuoka
1       Hamamatsu Summary Court         Shizuoka
2                    Iwata City         Shizuoka
3                    Yaizu city         Shizuoka
4                 Kakegawa City         Shizuoka
...                         ...              ...
114607                      NaN              NaN
114608                      NaN              NaN
114609                      NaN              NaN
114610                      NaN              NaN
114611                      NaN              NaN

                                      enCityName enAddressOutside  \
0       1-6-15, Tenjin, Shimizu ku, Shizuoka shi              NaN
1           1-12-5, Chuo, Naka ku, Hamamatsu shi              NaN
2                        3-1,Kounodai, Iwata shi              NaN
3                    2-16-32 Honmachi, Yaizu shi              NaN
4                     1-1-1 Nagaya, Kakegawa shi              NaN
...                                          ...              ...
114607                                       NaN              NaN
114608                                       NaN              NaN
114609                                       NaN              NaN
114610                                       NaN              NaN
114611                                       NaN              NaN

                            furigana hihyoji
0                       シミズカンイサイバンショ       0
1                      ハママツカンイサイバンショ       0
2                               イワタシ       0
3                               ヤイヅシ       0
4                              カケガワシ       0
...                              ...     ...
114607           クネキヨウユウザイサンカンリイインカイ       0
114608        シズオカシヨウニカンセンシヨウケンキユウカイ       0
114609  ホツポウリヨウドヘンカンヨウキユウシズオカケンミンカイギ       0
114610                  リヨウゴウチジドウクラブ       0
114611          シズオカシチヤギヨウシンコウキヨウギカイ       0

[114612 rows x 30 columns]>

In [88]:
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113369
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113417
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114612
addressOutsideImageId       114612
closeDate                   104535
closeCause                  104535
successorCorporateNumber    113946
changeCause                 113501
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114612
furigana                     67993
hihyoji                          0
dtype: int64

## ノック６：データの追加（繰り返し・読込・抽出・結合）

In [89]:
os.listdir('data')

['mst_corp_kind.csv',
 'mst_hihyoji.csv',
 '.DS_Store',
 '22_shizuoka_all_20210331.csv',
 'diff_20210405.csv',
 'diff_20210407.csv',
 'diff_20210406.csv',
 'diff_20210401.csv',
 'mst_process_kbn.csv',
 'mst_column_name.txt',
 'mst_latest.csv',
 'mst_closeCause.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'mst_correct_kbn.csv']

In [90]:
from glob import glob
diff_files = glob('data/diff*.csv')  # diffファイルをリストに追加
diff_files

['data/diff_20210405.csv',
 'data/diff_20210407.csv',
 'data/diff_20210406.csv',
 'data/diff_20210401.csv',
 'data/diff_20210408.csv',
 'data/diff_20210409.csv']

In [91]:
diff_files.sort()
diff = pd.read_csv(diff_files[0], encoding='shift-jis', header=None, dtype=object)
diff.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1010001016019,71,0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301,東京都,...,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0
1,2,1010001092869,01,1,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
2,3,1010001092869,21,0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,1,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
3,4,1010001128061,01,1,2021-04-01,2015-10-05,日本アイ・ビー・エム株式会社,NaN,301,東京都,...,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,ニホンアイビーエム,0
4,5,1010001128061,71,1,2021-04-01,2017-10-02,日本アイ・ビー・エム株式会社,NaN,301,東京都,...,NaN,平成２９年１０月１日東京都中央区日本橋箱崎町１９番２１号アイ・ビー・エム・アジア・パシフィッ...,2015-10-05,1,NaN,NaN,NaN,NaN,ニホンアイビーエム,0

In [92]:
diff.columns = columns
diff.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1010001016019,71,0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301,東京都,...,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0
1,2,1010001092869,01,1,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
2,3,1010001092869,21,0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,1,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
3,4,1010001128061,01,1,2021-04-01,2015-10-05,日本アイ・ビー・エム株式会社,NaN,301,東京都,...,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,ニホンアイビーエム,0
4,5,1010001128061,71,1,2021-04-01,2017-10-02,日本アイ・ビー・エム株式会社,NaN,301,東京都,...,NaN,平成２９年１０月１日東京都中央区日本橋箱崎町１９番２１号アイ・ビー・エム・アジア・パシフィッ...,2015-10-05,1,NaN,NaN,NaN,NaN,ニホンアイビーエム,0

In [93]:
diff = diff.loc[diff['prefectureName'] == '静岡県']
print(len(diff))
diff.tail(3)

43

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
2159,2160,9080401024929,01,0,2021-04-01,2021-04-01,株式会社リガーレ,NaN,301,静岡県,...,NaN,NaN,2021-04-01,1,NaN,NaN,NaN,NaN,リガーレ,0
2160,2161,9080402007726,01,1,2021-04-01,2015-10-05,有限会社丸信商店,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,マルシンショウテン,0
2161,2162,9080402021917,21,0,2021-04-01,2021-03-30,有限会社岡本商会,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,オカモトショウカイ,0

### diffデータを、データに行追加(お試し)

In [94]:
data_test = data  # テスト用の変数にdataの中身をコピー
print(len(data_test))
print(len(data))
print(len(diff))
data_test = data_test.append(diff)  # data_testにdiff差分を追加
print(len(data_test))
data_test.tail(3)

114612
114612
43
114655

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
2159,2160,9080401024929,01,0,2021-04-01,2021-04-01,株式会社リガーレ,NaN,301,静岡県,...,NaN,NaN,2021-04-01,1,NaN,NaN,NaN,NaN,リガーレ,0
2160,2161,9080402007726,01,1,2021-04-01,2015-10-05,有限会社丸信商店,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,マルシンショウテン,0
2161,2162,9080402021917,21,0,2021-04-01,2021-03-30,有限会社岡本商会,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,オカモトショウカイ,0

### for文で繰り返し

In [95]:
#すべての差分を追加する
for f in diff_files:
    diff = pd.read_csv(f,encoding = 'shift-jis', header = None, dtype = object)
    diff.columns = columns
    diff = diff.loc[diff['prefectureName'] == '静岡県']
    data = data.append(diff)
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
3,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
4,6,1000020222135,01,1,2020-09-29,2015-10-05,掛川市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Kakegawa City,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,カケガワシ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3194,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0
3195,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,NaN,2021-04-09,1,NaN,NaN,NaN,NaN,レスカ,0
3196,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0
3197,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,8080401016019,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0
3198,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0

In [96]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,115019,115019,115019,115019,115019,115019,115019,1246,115019,115019,...,678,1130,115019,115019,232,230,230,0,47017,115019
unique,114612,114757,6,2,1322,1351,106018,1245,9,1,...,581,1067,1334,2,231,1,129,0,41576,2
top,3032,7080402010509,01,0,2015-11-13,2015-10-05,八幡神社,00067824,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,ハチマングウ,0
freq,4,5,94397,80949,55969,83410,171,2,51474,115019,...,12,12,101545,114984,2,230,10,NaN,30,114794

In [97]:
print(data[data["corporateNumber"].duplicated()])  # 重複した行を抽出

     sequenceNumber corporateNumber process correct  updateDate  changeDate  \
107             108   1080001015906      01       1  2021-04-01  2015-10-05
108             109   1080001015906      12       1  2021-04-01  2021-03-30
109             110   1080002015434      01       1  2021-04-01  2015-10-05
110             111   1080105005588      12       0  2021-04-01  2021-03-25
113             114   1080403003401      21       0  2021-04-01  2021-03-02
...             ...             ...     ...     ...         ...         ...
3193           3194   9080001004208      01       1  2021-04-09  2015-10-05
3194           3195   9080001021673      01       1  2021-04-09  2017-07-07
3196           3197   9080102008933      01       1  2021-04-09  2015-10-05
3197           3198   9080402002859      21       0  2021-04-09  2021-04-01
3198           3199   9080402015836      12       0  2021-04-09  2021-04-01

                        name nameImageId kind prefectureName  ...  \
107              株式会社エムケイテック         NaN  301            静岡県  ...
108              株式会社エムケイテック         NaN  301            静岡県  ...
109               有限会社ハイナンＤＣ         NaN  302            静岡県  ...
110   認定特定非営利活動法人ＲＥＡＬＥ　ＷＯＲＬＤ         NaN  399            静岡県  ...
113          合同会社ポップスターインポート         NaN  305            静岡県  ...
...                      ...         ...  ...            ...  ...
3193                  株式会社葉桐         NaN  301            静岡県  ...
3194                 株式会社ＡＣＴ         NaN  301            静岡県  ...
3196               有限会社サクラ急送         NaN  302            静岡県  ...
3197                  有限会社弘法         NaN  302            静岡県  ...
3198              有限会社エコワークス         NaN  302            静岡県  ...

     successorCorporateNumber  \
107                       NaN
108                       NaN
109                       NaN
110                       NaN
113             2080401020653
...                       ...
3193                      NaN
3194                      NaN
3196                      NaN
3197            8080401016019
3198                      NaN

                                            changeCause assignmentDate latest  \
107                                                 NaN     2015-10-05      0
108                                                 NaN     2015-10-05      1
109                                                 NaN     2015-10-05      1
110                                                 NaN     2015-12-11      1
113   令和３年３月２日浜松市中区元浜町３２番地の１株式会社ポップスタージャパン（208040102...     2017-02-17      1
...                                                 ...            ...    ...
3193                                                NaN     2015-10-05      1
3194                                                NaN     2017-07-07      1
3196                                                NaN     2015-10-05      1
3197  令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...     2015-10-05      1
3198                                                NaN     2015-10-05      1

     enName enPrefectureName enCityName enAddressOutside     furigana hihyoji
107     NaN              NaN        NaN              NaN      エムケイテック       0
108     NaN              NaN        NaN              NaN      エムケイテック       0
109     NaN              NaN        NaN              NaN    ハイナンディーシー       0
110     NaN              NaN        NaN              NaN     レアーレワールド       0
113     NaN              NaN        NaN              NaN  ポップスターインポート       0
...     ...              ...        ...              ...          ...     ...
3193    NaN              NaN        NaN              NaN          ハギリ       0
3194    NaN              NaN        NaN              NaN          アクト       0
3196    NaN              NaN        NaN              NaN     サクラキュウソウ       0
3197    NaN              NaN        NaN              NaN         コウボウ       0
3198    NaN              NaN        NaN              NaN       エコワークス       0

[262 rows x 30 columns]

In [98]:
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)  # 重複した行の削除

In [99]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114757,114757,114757,114757,114757,114757,114757,1245,114757,114757,...,678,1129,114757,114757,232,230,230,0,46899,114757
unique,114387,114757,6,2,1322,1351,105991,1245,9,1,...,581,1066,1334,2,231,1,129,0,41558,2
top,3032,2080402016485,01,0,2015-11-13,2015-10-05,八幡神社,00068660,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"1-1-1 Nagaya, Kakegawa shi",NaN,ハチマングウ,0
freq,4,1,94175,80781,55849,83216,171,1,51331,114757,...,12,12,101318,114756,2,230,10,NaN,30,114532

In [100]:
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113512
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113562
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114757
addressOutsideImageId       114757
closeDate                   104649
closeCause                  104649
successorCorporateNumber    114079
changeCause                 113628
assignmentDate                   0
latest                           0
enName                      114525
enPrefectureName            114527
enCityName                  114527
enAddressOutside            114757
furigana                     67858
hihyoji                          0
dtype: int64

## ノック７：マスタを読み込んで項目を横に繋げよう

In [101]:
os.listdir('data')

['mst_corp_kind.csv',
 'mst_hihyoji.csv',
 '.DS_Store',
 '22_shizuoka_all_20210331.csv',
 'diff_20210405.csv',
 'diff_20210407.csv',
 'diff_20210406.csv',
 'diff_20210401.csv',
 'mst_process_kbn.csv',
 'mst_column_name.txt',
 'mst_latest.csv',
 'mst_closeCause.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'mst_correct_kbn.csv']

In [102]:
mst_process_kbn = pd.read_csv('data/mst_process_kbn.csv', dtype=object)
mst_process_kbn

  process process_kbn_name
0      01               新規
1      11        商号又は名称の変更
2      12         国内所在地の変更
3      13         国外所在地の変更
4      21         登記記録の閉鎖等
5      22         登記記録の復活等
6      71             吸収合併
7      72           吸収合併無効
8      81         商号の登記の抹消
9      99               削除

In [103]:
data = data.merge(mst_process_kbn, on='process', how='left')
data.head(2)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規

In [104]:
print(len(data.columns))  # 30→31に変わっている

31

In [105]:
mst_correct_kbn = pd.read_csv('data/mst_correct_kbn.csv', encoding='shift-jis', dtype=object)
mst_correct_kbn

  correct correct_kbn_name
0       0             訂正以外
1       1               訂正

In [106]:
data = data.merge(mst_correct_kbn, on='correct', how='left')
print(len(data.columns))
data.head(3)

32

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正

In [107]:
mst_corp_kind = pd.read_csv('data/mst_corp_kind.csv', dtype=object)
mst_corp_kind

  kind corp_kind_name
0  101           国の機関
1  201         地方公共団体
2  301           株式会社
3  302           有限会社
4  303           合名会社
5  304           合資会社
6  305           合同会社
7  399     その他の設立登記法人
8  401          外国会社等
9  499            その他

In [108]:
data = data.merge(mst_corp_kind, on='kind', how='left')
print(len(data.columns))
data.head(3)

33

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体

In [109]:
mst_close_cause = pd.read_csv('data/mst_closeCause.csv', dtype=object)
mst_close_cause

  closeCause closeCause_name
0         01          清算の結了等
1         11        合併による解散等
2         21        登記官による閉鎖
3         31      その他の清算の結了等

In [110]:
data = data.merge(mst_close_cause, on='closeCause', how='left')
print(len(data.columns))
data.head(3)

34

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN

In [111]:
mst_latest = pd.read_csv('data/mst_latest.csv', dtype=object)
mst_latest

  latest latest_name
0      0        過去情報
1      1        最新情報

In [112]:
data = data.merge(mst_latest, on='latest', how='left')
print(len(data.columns))
data.head(3)

35

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報

In [113]:
mst_hihyoji = pd.read_csv('data/mst_hihyoji.csv', dtype=object)
mst_hihyoji

  hihyoji hihyoji_name
0       0         検索対象
1       1       検索対象除外

In [114]:
data = data.merge(mst_hihyoji, on='hihyoji', how='left')
print(len(data.columns))
data.head(3)

36

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象

## ノック８：テキストの連結や分割をしよう

### addressの列に、県名、市町村名、番地を結合したものを入れる

In [115]:
print(data[['prefectureName', 'cityName', 'streetNumber']])
data[['prefectureName', 'cityName', 'streetNumber']].isna().sum()

       prefectureName cityName  streetNumber
0                 静岡県   静岡市清水区     天神１丁目６−１５
1                 静岡県    浜松市中区     中央１丁目１２−５
2                 静岡県      磐田市        国府台３−１
3                 静岡県      焼津市    本町２丁目１６−３２
4                 静岡県      掛川市    長谷１丁目１番地の１
...               ...      ...           ...
114752            静岡県    静岡市葵区     太田町１４番地の４
114753            静岡県      沼津市    大岡２５５番地の１５
114754            静岡県    伊豆の国市    奈古谷６６３番地の２
114755            静岡県    浜松市南区    下江町４５６番地の１
114756            静岡県    浜松市西区  大人見町３３７４番地の１

[114757 rows x 3 columns]

prefectureName     0
cityName           0
streetNumber      17
dtype: int64

In [116]:
data["address"] =  data['prefectureName'] + data['cityName'] + data['streetNumber']
print(len(data.columns))

37

In [117]:
data.loc[data['streetNumber'].isna()].head(3)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
3897,3909,1080005006629,01,0,2015-11-13,2015-10-05,保証責任尾羽愛郷負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN
16620,16657,2080005006628,01,0,2015-11-13,2015-10-05,保証責任原下河原負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN
20847,20889,2080105004250,01,1,2019-07-05,2015-10-05,保證責任對島村負債整理組合,NaN,399,静岡県,...,NaN,ホショウセキニンタジマムラフサイセイリクミアイ,1,新規,訂正,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN

In [118]:
data['address'].loc[data['streetNumber'].isna()] = data['prefectureName'] + data['cityName']  # 番地が空白の箇所には県名と市町村のみ

In [119]:
print(data['address'].isna().sum())
data.loc[data['streetNumber'].isna()].head(3)

0

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
3897,3909,1080005006629,01,0,2015-11-13,2015-10-05,保証責任尾羽愛郷負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県静岡市清水区
16620,16657,2080005006628,01,0,2015-11-13,2015-10-05,保証責任原下河原負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県静岡市清水区
20847,20889,2080105004250,01,1,2019-07-05,2015-10-05,保證責任對島村負債整理組合,NaN,399,静岡県,...,NaN,ホショウセキニンタジマムラフサイセイリクミアイ,1,新規,訂正,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県伊東市

In [120]:
data['postCode'].head(3)

0    4240809
1    4300929
2    4380077
Name: postCode, dtype: object

In [121]:
data['postCode_head'] = data['postCode'].str[:3]
print(len(data.columns))
data.head(3)

38

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県磐田市国府台３−１,438

In [122]:
data['postCode_tail'] = data['postCode'].str[-4:]
print(len(data.columns))
data.head(3)

39

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県磐田市国府台３−１,438,0077

## ノック９：日付を加工しよう

In [123]:
data['closeDate'] - data['assignmentDate']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [124]:
tmp = pd.to_datetime(data['closeDate'])
tmp.dtypes

dtype('<M8[ns]')

### 日付データをdt_columnsに格納し、col列にdatetime型に変換して入れる

In [125]:
dt_columns = ['updateDate', 'changeDate', 'closeDate', 'assignmentDate']
for col in dt_columns:
  data[col] = pd.to_datetime(data[col])

In [126]:
data.dtypes

sequenceNumber                      object
corporateNumber                     object
process                             object
correct                             object
updateDate                  datetime64[ns]
changeDate                  datetime64[ns]
name                                object
nameImageId                         object
kind                                object
prefectureName                      object
cityName                            object
streetNumber                        object
addressImageId                      object
prefectureCode                      object
cityCode                            object
postCode                            object
addressOutside                      object
addressOutsideImageId               object
closeDate                   datetime64[ns]
closeCause                          object
successorCorporateNumber            object
changeCause                         object
assignmentDate              datetime64[ns]
latest                              object
enName                              object
enPrefectureName                    object
enCityName                          object
enAddressOutside                    object
furigana                            object
hihyoji                             object
process_kbn_name                    object
correct_kbn_name                    object
corp_kind_name                      object
closeCause_name                     object
latest_name                         object
hihyoji_name                        object
address                             object
postCode_head                       object
postCode_tail                       object
dtype: object

### もしクローズしているなら、企業が稼働していた日数を格納

In [127]:
data['corporate_life'] = data['closeDate'] - data['assignmentDate']

In [128]:
print(len(data.columns))
data.head(3)

40

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県磐田市国府台３−１,438,0077,NaT

In [129]:
tmp = data.loc[data['closeDate'].notna()]
print(len(tmp))
tmp.head(3)

10108

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life
31,33,1010001102636,21,0,2021-02-08,2021-02-02,Ｈ・Ｍ・Ｃ株式会社,NaN,301,静岡県,...,登記記録の閉鎖等,訂正以外,株式会社,合併による解散等,最新情報,検索対象,静岡県駿東郡長泉町東野字八分平５１５番９１,411,0931,1947 days
36,38,1010001144901,21,0,2020-11-10,2020-11-05,エス・ジー・トラスト株式会社,NaN,301,静岡県,...,登記記録の閉鎖等,訂正以外,株式会社,合併による解散等,最新情報,検索対象,静岡県駿東郡長泉町東野字八分平５１５番９１,411,0931,1858 days
37,39,1010001148290,21,0,2018-03-13,2018-03-07,株式会社秀地ゴルフマネージメント,NaN,301,静岡県,...,登記記録の閉鎖等,訂正以外,株式会社,合併による解散等,最新情報,検索対象,静岡県駿東郡小山町須走４９３番地,410,1431,884 days

In [130]:
print(data['closeDate'])

0               NaT
1               NaT
2               NaT
3               NaT
4               NaT
            ...
114752          NaT
114753          NaT
114754          NaT
114755   2021-04-01
114756          NaT
Name: closeDate, Length: 114757, dtype: datetime64[ns]

In [131]:
len(data.loc[data['closeCause'].notna()]) == len(data.loc[data['closeDate'].notna()])  # クローズした原因の記載数＝クローズした日にちの記載数

True

### アップデートした日にちを、月単位にする（お試し）

In [132]:
data['update_YM'] = data['updateDate'].dt.to_period('M')  # 1ヶ月単位で丸める
print(len(data.columns))
data.head()

41

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life,update_YM
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT,2018-04
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT,2018-04
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県磐田市国府台３−１,438,0077,NaT,2018-04
3,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県焼津市本町２丁目１６−３２,425,0022,NaT,2018-04
4,6,1000020222135,01,1,2020-09-29,2015-10-05,掛川市,NaN,201,静岡県,...,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県掛川市長谷１丁目１番地の１,436,0047,NaT,2020-09

### すべての日にちを月単位で丸める　　for文で繰り返し

In [133]:
dt_prefixes = ['assignment', 'change', 'update', 'close']
for pre in dt_prefixes:
  data[f'{pre}_YM'] = data[f'{pre}Date'].dt.to_period('M')

In [134]:
print(len(data.columns))
data.head(3)

44

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life,update_YM,assignment_YM,change_YM,close_YM
0,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT,2018-04,2015-10,2015-10,NaT
1,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT,2018-04,2015-10,2015-10,NaT
2,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,最新情報,検索対象,静岡県磐田市国府台３−１,438,0077,NaT,2018-04,2015-10,2015-10,NaT

In [135]:
data.dtypes

sequenceNumber                       object
corporateNumber                      object
process                              object
correct                              object
updateDate                   datetime64[ns]
changeDate                   datetime64[ns]
name                                 object
nameImageId                          object
kind                                 object
prefectureName                       object
cityName                             object
streetNumber                         object
addressImageId                       object
prefectureCode                       object
cityCode                             object
postCode                             object
addressOutside                       object
addressOutsideImageId                object
closeDate                    datetime64[ns]
closeCause                           object
successorCorporateNumber             object
changeCause                          object
assignmentDate               datetime64[ns]
latest                               object
enName                               object
enPrefectureName                     object
enCityName                           object
enAddressOutside                     object
furigana                             object
hihyoji                              object
process_kbn_name                     object
correct_kbn_name                     object
corp_kind_name                       object
closeCause_name                      object
latest_name                          object
hihyoji_name                         object
address                              object
postCode_head                        object
postCode_tail                        object
corporate_life              timedelta64[ns]
update_YM                         period[M]
assignment_YM                     period[M]
change_YM                         period[M]
close_YM                          period[M]
dtype: object

## ノック１０：年度を設定しよう

In [136]:
data['updateDate']

0        2018-04-02
1        2018-04-02
2        2018-04-05
3        2018-04-05
4        2020-09-29
            ...
114752   2021-04-09
114753   2021-04-09
114754   2021-04-09
114755   2021-04-09
114756   2021-04-09
Name: updateDate, Length: 114757, dtype: datetime64[ns]

更新年だけ抽出する

In [137]:
data['update_year'] = pd.DatetimeIndex(data['updateDate']).year
data['update_year']

0         2018
1         2018
2         2018
3         2018
4         2020
          ...
114752    2021
114753    2021
114754    2021
114755    2021
114756    2021
Name: update_year, Length: 114757, dtype: int64

更新月だけ抽出する

In [138]:
data['update_month'] = pd.DatetimeIndex(data['updateDate']).month
data['update_month']

0         4
1         4
2         4
3         4
4         9
         ..
114752    4
114753    4
114754    4
114755    4
114756    4
Name: update_month, Length: 114757, dtype: int64

In [139]:
data['update_fiscal_year'] = pd.DatetimeIndex(data['updateDate']).year  # 更新年度に取得した年を設定
data.loc[data['update_month'] < 4, 'update_fiscal_year'] -= 1           # 更新月が3月までは更新年度-1 難しい・・・

In [140]:
print(len(data.columns))
data.tail(3)

47

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,postCode_head,postCode_tail,corporate_life,update_YM,assignment_YM,change_YM,close_YM,update_year,update_month,update_fiscal_year
114754,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,410,2132,NaT,2021-04,2015-10,2015-10,NaT,2021,4,2021
114755,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,430,0825,2005 days,2021-04,2015-10,2021-04,2021-04,2021,4,2021
114756,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,431,1112,NaT,2021-04,2015-10,2021-04,NaT,2021,4,2021

DateFrame型で確認する

In [142]:
for i in range(12):
  display(data[['update_YM', 'update_fiscal_year']].loc[data['update_month'] == i+1 ][:1])

   update_YM  update_fiscal_year
44   2019-01                2018

   update_YM  update_fiscal_year
31   2021-02                2020

   update_YM  update_fiscal_year
29   2021-03                2020

  update_YM  update_fiscal_year
0   2018-04                2018

   update_YM  update_fiscal_year
46   2017-05                2017

   update_YM  update_fiscal_year
33   2018-06                2018

   update_YM  update_fiscal_year
56   2018-07                2018

   update_YM  update_fiscal_year
28   2018-08                2018

  update_YM  update_fiscal_year
4   2020-09                2020

   update_YM  update_fiscal_year
41   2019-10                2019

   update_YM  update_fiscal_year
26   2015-11                2015

   update_YM  update_fiscal_year
27   2017-12                2017

## ノック１１：加工したデータをファイルに出力しよう

In [143]:
output_dir = 'data/output'
os.makedirs(output_dir, exist_ok=True) # os.makedirs 深い階層のディレクトリまで再帰的に作成  exist_ok=True 既に存在するディレクトリを指定してもエラーにならない

CSVへ出力

In [144]:
output_file = 'processed_shizuoka.csv'
data.to_csv(os.path.join(output_dir, output_file), index=False)  # パスの結合をして出力

エクセルへ出力

In [ ]:
output_file = output_file.replace('.csv', '.xlsx')
data.to_excel(os.path.join(output_dir, output_file), index=False)

## ノック１２：不要な項目の削除と並べ替えをしよう

## ノック１３：まとまった単位で集計しよう

## ノック１４：市区町村別の法人数を可視化しよう

## ノック１５：グラフの縦横と表示順を変えてみよう

## ノック１６：グラフのタイトルとラベルを設定しよう

## ノック１７：グラフの見た目をもっと変えてみよう

## ノック１８：９０日以内に新規登録された法人数を可視化してみよう

## ノック１９：年度別の推移を可視化しよう

## ノック２０：データとグラフを出力しよう